.photo-box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.photo-block{
  margin:  0 auto;
}

.photo{
  border-radius: 10px;
}

/***mobile***/
@media screen and (max-width: 900px){
  .photo-block{
    margin-left: 2%;
    margin-right: 2%;
  }

  .photo{
    width: 46%;
    height: auto;
    object-fit: cover;
    margin:  0 auto;
    margin: 1.5%;
  }
}

/***pc***/
@media screen and (min-width: 901px){
  .photo-block{
    margin-left: 5%;
    margin-right: 5%;
  }
  .photo{
    width: 30%;
    height: auto;
    object-fit: cover;
    margin:  0 auto;
    margin: 1.5%;
  }
}